# yaml-language-server: $schema=https://www.authelia.com/schemas/v4.39/json-schema/user-database.json

users:
  ghadfield32:
    displayname: 'Geoffrey Hadfield'
    password: 'REPLACE_WITH_REAL_ARGON2_HASH'
    groups: ["admins"]
